* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(64, 64, 85);
}

form {
    background-color: rgb(64, 64, 85);
    text-align: center;
    padding: 36px 0;
    border-bottom: 1px solid #000;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

form h1 {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-style: italic;
}

ul, #listaTarefas {
    color: #fff; text-align: center;
    margin-top: 20px;
    cursor: pointer;
}